Deps/corpora/*
Deps/pretrained_fe/resnet18-f37072fd.pth
Deps/pretrained_fe/resnet50-0676ba61.pth
Deps/pretrained_fe/vit_b_16-c867db91.pth

Results/param/*

data

**/datafile/
**/__pycache__/
**/checkpoint/
**/contexts/

*.eps

A03_Communications/B02_Communication_Game/Symbols_of_Speaker
A03_Communications/B02_Communication_Game/Testing_Symbols_of_Speaker

Results/FeatureData/*

Deps/CustomFuctions/Pretrained Model/*

# Ignore all pair folders in communication_semantic_analysis_results except pair_0 and pair_10
Results/communication_semantic_analysis_results/pair_*
!Results/communication_semantic_analysis_results/pair_0/
!Results/communication_semantic_analysis_results/pair_10/

# Ignore all files in manuscript folder except specified ones
manuscript/*
!manuscript/fig/
!manuscript/sn-article.tex
!manuscript/CA_TS_Net.bib
!manuscript/supplementary_information.tex
